* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: orange;
    display: flex;
}

header h2 {
    text-align: center;
    color: white;
    margin-left: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


body {
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.car {
    border: 1px solid black;
    text-align: center;
}

.car img {
    width: 40%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car .picture {
    display: flex;
}

.car .picture .text {
    padding: auto;
    border: 2px solid antiquewhite;
    font-size: 25px;
    margin:7px 12px;
}

button {
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    background-color: rgba(179, 190, 79, 0.74);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: wheat;
}

footer {
    background-color: orange;
    justify-content: center;
    text-align: center;
    padding: 5px;
    color: white ;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
}
