header {
    background-color: orange;
    display: flex;
}

header h2 {
    text-align: center;
    color: white;
}

body {
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: yellowgreen;
    justify-content: end;
    position: fixed;
    
}
